body{
    background:lavenderblush;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;

}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 300px;
}

nav{
    background: white;
    /* height: 60px; */
    text-align: center;
    font-family: haettenschweiler, sans-serif;

    height: 400px;
}

nav a{
    text-align: center;
    color: black;
    font-size: 1.5em;
    padding: 15px;
    margin: 10px;
    display: block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.wrapper{
}

/* Styles for hero or feature */
.hero{
    background-image: url("img/pink bomb 2.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-no-repeat;
    background-position: right center;
    /* background stuff above */
    /* moving text below */
    position: relative;
    background-color: black;

}
.hero h2{
    position: absolute;
    bottom: 20%;
    right: 5%;
}

button{
  position: absolute;
  bottom: 8%;
  right: 5%;
  background: none;
  padding: 5px;
  border: 2px black solid;
  color: white;
  font-size: 1.3em;
  border-radius: 5px;
}

/* styles for about hero or feature */
.about-hero{
    background-image: url("");
    /* add image name above */
    height: 400px;
    background-size: cover;
    background-repeat: no-no-repeat;
    background-position: right;
    /* background stuff above */
    /* moving text below */
    position: relative;
}
/* end about styles ----------- */

main{
    margin: 20px auto 20px auto;
        /* top right bottom left */
    display: flex;
    flex-wrap: wrap;
}

.flexItem{
  flex-basis: 300px;
  flex-grow: 2;
  margin: 2px 20px;
  background: rgb(255, 255, 255, 0.5);
  padding: 30px;
}

.description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border: 0;
}

h2{
  margin: 3.5%;
  text-align: center;
}

.icons{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.social-media{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.social-media img{
  width: 24.6%;
  padding: 0;
  margin: 0;
}



footer{
      background: rgba(0,0,0,0.8);
      padding: 40px;
}

footer p{
        color: white;
}

footer a{
        color: white;
}

/* medium size below */
@media screen and (min-width: 700px) {
        .logo{
          /* width: 350px; */
        }
        img{
            width:30%;
            display: inline;
        }


        .flexItem{
          margin: 20px;
        }

        .flexItem:first-child{
          margin-right: 0;
        }

        .wrapper{
          display: flex;
        }

        nav{
            width: 30%;
        }

        .hero{
          width: 70%;
        }

        .social-media{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        }

        .description{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }

}

/* large screen styles below */
@media screen and (min-width: 1300px){



}
