@font-face{
  font-family: 'GentyDemo-Regular';
  src:url('GentyDemo-Regular.ttf');
}

body{
    background:lavenderblush;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 16px;

}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 300px;
}

nav{
    background: rgba(235,235,235,0.7);
    /* height: 60px; */
    text-align: center;
    font-family: "GentyDemo-Regular", sans-serif;

    height: 400px;
    width: 100%;
}

nav a{
    text-align: center;
    color: black;
    font-size: 1.5em;
    padding: 15px;
    margin: 10px;
    display: block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

.wrapper{
  background-image: url("img/pink-bubbles.jpeg");
  height: 400px;
  background-size: cover;
  background-repeat: no-no-repeat;
  background-position: right center;
}

/* Styles for hero or feature */
.hero{
    position: relative;
}

.hero h2{
    position: absolute;
    bottom: 20%;
    right: 5%;
}

/* styles for about hero or feature */
.about-hero{
    background-image: url("");
    /* add image name above */
    height: 400px;
    background-size: cover;
    background-repeat: no-no-repeat;
    background-position: right;
    /* background stuff above */
    /* moving text below */
    position: relative;
}
/* end about styles ----------- */

main{
    margin: 20px auto 20px auto;
        /* top right bottom left */
    display: flex;
    flex-wrap: wrap;
}

.flexItem{
  flex-basis: 90%;
  flex-grow: 2;
  margin: 2px 10px;
  background: white;
  padding: 10px;
}

.description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.flavor{
  padding-left: 20px;
  padding-right: 20px;
}

.flavor img{
  float: right;
  width: 150px;
  display: inline;
}

.flavor p{
  float: left;
  width: 299px;
  font-size: 0.9em;
}

.flavor::after{
  clear:both;
  display: table;
  content: "";
}

.daiquiris{
  padding: auto 20px;
}

img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border: 0;
}

h2{
  margin: 3.5%;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #F97A7C;
  color: white;
}

.fa-instagram {
  background: #F97A7C;
  color: white;
}

.fa-pinterest {
  background: #F97A7C;
  color: white;
}


.social-media{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.social-media img{
  width: 100%;
  padding: 0;
  margin: 0;
}



footer{
      background: rgba(0,0,0,0.8);
      padding: 40px;
}

footer p{
        color: white;
}

footer a{
        color: white;
}


/* START MOBILE FORM STYLES */
    .form-container{
/*       TO CENTER add AUTO for margin right and left*/
      margin: 20px auto;
/*  WIDTH 100%  FOR MOBILE DEVICES*/
      width:90%;
      display:block;
      font-size:1em;
    }
    form p{
      margin-bottom:5px;

    }
    label{
      display:block;
    }
    #newsletter input{
      display:inline;
      width:auto;
    }
    input{
      /* FOR MOBILE use WIDTH:100% */
      width:100%;
      padding:1.7%;
      margin:1.5% 0;
      font-size: 1em;
      border-radius: 4px;
      border:1px solid #ccc;
      box-sizing: border-box;
    }
    textarea{
      min-height:100px;
       /* FOR MOBILE use WIDTH:100% */
      width: 100%;
      padding: 2%;
      margin: 1.5% 0;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    button{
      /* CHANGED COLORS bellow */
      background: #45A99F;
      border: 1px solid #45A99F;
      /* Rounded corners */
      border-radius: 4px;
      /* Text color */
      color:white;
      margin-top: 20px;
      margin-bottom: 20px;
      padding:10px 20px;
      font-size: 1.1em;
    }


/* medium size below */
@media screen and (min-width: 700px) {
        .logo{
          /* width: 350px; */
        }
        img{
            width:30%;
            display: inline;
        }

        .flavor img{
          width: 100px;
          padding-left: 3px;
        }

        .flavor p{
          width: 100%;
        }

        .description{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 95%;
        }

        .flexItem{
          margin: 1%;
          padding: 20px;
          flex-basis: 44%;
        }

        .flexItem:first-child{
          margin-right: 0;
        }

        .wrapper{
          display: flex;
        }

        nav{
            width: 18%;
            max-width: 300px;
        }

        .hero{
          width: 70%;
        }

        .social-media{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        }

        .social-media img{
          width: 24.6%;
          padding: 0;
          margin: 0;
        }



        /*         START DESKTOP FORM STYLES */
     .form-container{
/*         CHANGE WIDTH of FORM TO YOUR PREFERENCE */
       width:50%;
     }
     input{
        /* CHANGE WIDTH TO YOUR PREFERENCE */
       width:60%;
     }
     button{
       margin-top: 2%;
       margin-bottom: 2%;
     }

}

/* large screen styles below */
@media screen and (min-width: 1300px){



}
